# Django
DJANGO_SECRET_KEY="remplacez-par-une-cle-secrete-longue"
# En production, utilisez une clé JWT différente de DJANGO_SECRET_KEY.
JWT_SIGNING_KEY="remplacez-par-une-autre-cle-secrete-longue"
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost

# Base de données
# Laissez sqlite pour le moment.
DB_ENGINE=sqlite

# Paramètres PostgreSQL utilisés lorsque :
# DB_ENGINE=postgresql
DB_NAME=gymsaas
DB_USER=gymsaas
DB_PASSWORD="remplacez-par-un-mot-de-passe-solide"
DB_HOST=127.0.0.1
DB_PORT=5432
DB_CONN_MAX_AGE=60

# Laissez vide pour PostgreSQL local.
# Utilisez require si votre hébergeur exige SSL.
DB_SSLMODE=

# Frontend
CORS_ALLOWED_ORIGINS=http://localhost:3000,http://127.0.0.1:3000,http://localhost:5173,http://127.0.0.1:5173
CSRF_TRUSTED_ORIGINS=http://localhost:3000,http://127.0.0.1:3000,http://localhost:5173,http://127.0.0.1:5173
